:root{
    --dark-blue: #0c2636;
    --lightdark-blue: #5fa8d3;
    --medium-blue: #62b6cb;
    --light-blue: #cae9ff;
    --pale-yellow: #ecf39e;
    --crimson: #B80f0A;
}
center img{
    max-width: 90%;
    margin-bottom: 1rem;
}
body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--light-blue);
    box-sizing: border-box;
    scroll-behavior: smooth;
}
#name{
   -webkit-animation: colorChange 10s infinite;
    animation: colorChange 10s infinite;
}
#navbar{
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 100%;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
}
#navbar .hori-nav{
    max-width: 620px;
}
#navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
    padding: 1rem;
    list-style-type: none;
    margin: 0;
    width: 60%;
}
@media screen and (max-width: 425px){
    #navigation{
        font-size: 0.2rem;
        min-width: none;
        flex-direction:column ;
        font-size: 0.5rem;
}
#welcome-section{
        font-size: 0.8rem;
        max-width: 100vw;
       text-align: center;
}
#navbar{
    height: 10vh;
    padding: 1.5rem;
}
}


@media screen and (min-width: 426px){
    #navigation{
        min-width: 425px;
    }
}
#navigation li a{
    color: var(--light-blue);
    text-decoration: none;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bolder;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
#navigation li a:hover{
    color: var(--dark-blue);
    background-color: var(--light-blue);
    padding: 0.5rem;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
#welcome-section{
    background-color: var(--light-blue);
    color: var(--dark-blue);
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#welcome-section h1{
    font-size: 3.0rem;
    font-weight: bolder;
    width: 80%;
    position: relative;
    text-shadow: 1px 1px 1px rgb(149, 161, 35);
}
#welcome-section code{
    font-weight: bolder;
    font-size: 1.2rem;
    color: var(--crimson);
    text-shadow: 1px 1px 1px rgb(149, 161, 35);
    -webkit-animation: NameAppearCode 4s;
    animation: NameAppearCode 4s;
}
#welcome-section p{
    line-height: 1.5;
    font-size: 1.2em;
    width: 60%;
}
.NameAndSub{
    display:flex;
    text-align: start;
    flex-direction: column;
}

.hey{
    animation: HeyEntry 2s;
}
.NameEntry{
    animation: NameAppear 4s;
    margin-left: 1rem;
}
.flex-welcome{
    display: flex;
    justify-content: center;
    align-items: center;
}
.IntroDesc{
    display: none;
}
@keyframes HeyEntry {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-60px);
        -moz-transform: translateX(-60px);
        -ms-transform: translateX(-60px);
        -o-transform: translateX(-60px);
        transform: translateX(-60px);
}
    50% {
        opacity: 0;
        -webkit-transform: translateX(-60px);
        -moz-transform: translateX(-60px);
        -ms-transform: translateX(-60px);
        -o-transform: translateX(-60px);
        transform: translateX(-60px);
}
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes NameAppear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes NameAppearCode {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes colorChange {
    0% {
        color: #1100ff; /* HotPink */
    }
    1% {
        color: #FF69B4; /* HotPink */
    }
    25% {
        color: #FF0000; /* Red */
    }
    50% {
        color: #00FF00; /* Lime */
    }
    75% {
        color: #FFA500; /* Orange */
    }
    100% {
        color: #1100ff; /* Gold */
    }
}

.projects-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    gap: 1rem;
    margin: 2rem;
    box-sizing: border-box;
}
#projects{
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}
#projects h2{
    font-size: 2rem;
    font-weight: bolder;
    color: var(--light-blue);
    margin: 0;
    padding: 1rem;
    background-color: var(--dark-blue);
    border-radius: 15px;
}
.project-tile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--lightdark-blue);
    width: 35vw;
    color: var(--dark-blue);
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.project-tile:hover{
    transform: scale(1.1);
}

.mail {
    color: var(--dark-blue);
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--light-blue);
    padding: 0.7rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin: 1rem;
}
.mail i{
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.mail:hover i{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.contact-section{
    padding-top: 1rem;
    margin-bottom: 1rem;
}


.prev-image{
    width: 100%;
    border-radius: 10px;
}
.project-name{
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    padding-top: 1rem;
}
#contact{
    background-color: var(--dark-blue);
    color: var(--light-blue);
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
@keyframes NavBarAppearance {
    0% {
        top: -10vh;
    }
    100% {
        top: 0;
    }
}
.skill img, .skill i{
    width: 25px;
    border-radius: 50%;
    margin: 1rem;
    font-size: 2rem;
}
.skill{
    display: flex;
    align-items: center;
    border: var(--dark-blue) 4px solid;
    border-radius: 10px;
    padding-right:1rem;
    background-color: var(--light-blue);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.skill:hover{
    background-color: var(--dark-blue);
    color: var(--light-blue);
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
}
.skills-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem;
    width: 90%;
}
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--dark-blue);
    background-color: var(--medium-blue);
    width: 80%;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    border: var(--dark-blue) 4px solid;
    margin-bottom: 3rem;
}
.skills h2{
    background-color: var(--dark-blue);
    color: var(--light-blue);
    width: 100%;
    text-align: center;
    height: 50px;
    margin: 0;
    padding: 0.5rem;
    box-sizing: border-box;
}
.skill span{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 0.5rem;
}
#skill{
    margin-top: 7rem;
}
.fa-html5{
    color: #E34F26;
}
.fa-css3-alt{
    color: #1572B6;
}
.fa-js{
    color: #F7DF1E;
}
.fa-react{
    color: #61DAFB;
}
.fa-node{
    color: #3C873A;
}
.fa-database{
    color: #4479A1;
}
.fa-python{
    color: #306998;
}
.bar{
    display: none;
}
.mob-nav{
    display: none;
}

@media screen and (max-width:425px) {
    body{
        scroll-behavior: smooth;
    }
    @keyframes slide-in {
        0% {
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            -ms-transform: translateX(100%);
            -o-transform: translateX(100%);
            transform: translateX(100%);
        }
        100% {
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -ms-transform: translateX(0%);
            -o-transform: translateX(0%);
            transform: translateX(0%);
        }
    }
    .mob-nav{
        display: none;
        position: fixed;
        background-color: var(--dark-blue);
        right: 0;
        color: var(--light-blue);
        top: 10vh;
        z-index: 1001;
        height: 100%;
        box-shadow: 0 2px 5px rgba(1,1,1,1);
        width: 50%;
    }
    .mob-nav ul:first-child{
        border-top: var(--lightdark-blue) solid 1px;
    }
    .mob-nav ul li:active {
        background-color: var(--light-blue);
        color: var(--dark-blue);
    }
    .mob-nav ul li{
        list-style: none;
        padding: 1.5rem;
        border-bottom: solid 1px var(--lightdark-blue);
    }
    .mob-nav ul li a{
        text-decoration: none;
    }
    .mob-nav ul li a:visited{
        color: var(--light-blue);
    }
    #navbar{
        height:5.45%;
        z-index: 10000;
        justify-content: space-between;
    }
    .bar{
        display: block;
        font-size: 1.5rem;
        margin: 4rem;
        color: var(--light-blue);
    }
    .bar a:active{
        color: var(--medium-blue);
    }
    #portfolio #navbar .hori-nav{
        display: none;
    }
    #projects{
        margin: 1rem;
    }
    .project-tile{
        width: 60vw;
    }
    .contact-section{
        margin-bottom: 1rem;
    }
    .vert-nav{
        padding-left: 0;
    }
    .vert-nav li{
        text-align: center;
    }
    #navbar .port{
        display: block;
        color: var(--light-blue);
        margin-left: 2rem;
    }
}
.animateslidein{
    animation: slide-in 0.5s ease-in-out forwards;
}
.animateslideout{
    animation: slide-out 0.5s ease-in-out forwards;
}
@keyframes slide-out {
    0% {
        transform: translateX(0%);
}
    100% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
}
}
.horbtn>*{
    height: 0.2rem;
    margin: 0.4rem;
    width: 1.5rem;
    background-color: var(--light-blue);
}
.show{
    display: block;
}
.hide{
    display: none;
}
.xbtn{
    position: relative;
    width: 2.5rem;
    height: 1rem;
}
.xbtn>*{
    height: 0.2rem;
    margin: 0.4rem;
    width: 1.8rem;
    background-color: var(--light-blue);
    position: absolute;
}
.xbtn1{
    transform: rotate(45deg);
}
.xbtn2{
    transform: rotate(-45deg);
}
.port{
    display: none;
}